################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/apiqxote/.vs/apiqxote/FileContentIndex/
/apiqxote/.vs/apiqxote/v17/.suo
